bin/
obj/
out/
dist/
publish/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.iml

.vs/

.vscode/

*.log
logs/

.DS_Store
Thumbs.db

*.pid
*.seed
.env

TestResult*/
*.coverage
*.coveragexml

*.nupkg
*.snupkg
packages/
.nuget/

_ReSharper*/
*.[Rr]e[Ss]harper

*.tmp
*.bak
*.swp